<launch>
    <!-- Start tilt joint controller -->
    <rosparam file="$(find mx_demo)/config/tilt.yaml" command="load"/>
    <node name="tilt_controller_spawner" pkg="mx_controllers" type="controller_spawner.py"
          args="--manager=mx_manager
                --port pan_tilt_port
                tilt_controller"
          output="screen"/>
</launch>
